
<div id="toolbar">
  <div id="rad">
    Radius <span id="radval">10</span>
    <div id="decrad" class="radcontrol">-</div>
    <div id="incrad" class="radcontrol">+</div>
  </div>

  <div id="color-palette">
    <div id="colors">
    </div>
  </div>

  <a href="/end_session" ><span id="logout">LogOut</span></a>

  <div id="save-changes">
    Save
  </div>

  <a href="/" ><span id="refresh">Refresh</span></a>

</div>

<canvas id="canvas">
  Sorry, your browser won't work with this application. (It's basically rubbish.)
</canvas>
