
<div id="toolbar">
  <div id="rad">
    Radius <span id="radval">10</span>
    <div id="decrad" class="radcontrol">-</div>
    <div id="incrad" class="radcontrol">+</div>
  </div>

  <div id="color-palette">
    <div id="colors">
    </div>
  </div>


  <% if session[:userid] == nil %>
    <div id="information">
      You may doodle all you want. But to save your drawings you must first login.
      <a href="users/new" class="btn btn-default">Login/CreateAccount</a>
    </div>
    <div id="save" class="hidden"></div>
  <% else %>
    <a href="/end_session" ><span id="logout">LogOut</span></a>
    <div id="save">
      Save
    </div>
    <a href="pictures/index" target="_blank"><span id="review">Review</span></a>

  <% end %>


  <a href="/" ><span id="refresh">Refresh</span></a>


</div>

<canvas id="canvas">
  Sorry, your browser won't work with this application. (It's basically rubbish.)
</canvas>
