<h2> <%= @picture.title %></h2>

<div id="choice-container">

  <%= link_to(pictures_path) do %>
  <span id="see-all">See All Pictures</span>
  <% end %>
  <%= link_to(delete_picture_path(@picture.id), method:"DELETE") do %>
    <span id="delete-picture">DELETE</span>
  <% end %>

</div>



<div id="masterpiece-container">
  <div id="masterpiece">
    <img src= <%= @picture.image%> alt="Your Picture"  />
  </div>
</div>
