body  {
  h1, h2, h3, h4 {
    text-align: center;
  }
}

#masterpiece {
  display: inline-block;
  border: double green 1em;
  margin-top: 20px;
}

#masterpiece-container, #choice-container {
  text-align: center;
}

.notifications {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: grey;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 30%;
  padding-left: 15px;
  padding-right: 15px;

}

#canvas {
  display: block;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}

#toolbar {
  width: 100%;
  height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: grey;
  color: white;
  font-family: sans-serif;
}

#information {
  width: 100%;
  height: 50px;
  padding-left: 10%;
  line-height: 1.5em;
  position: fixed;
  top: 50px;
  left: 0px;
  background-color: grey;
  color: white;
  font-family: sans-serif;
}

.radcontrol {
  width: 30px;
  height: 30px;
  background-color: #999;
  display: inline-block;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
}

.radcontrol:hover {
  background-color: #afa3a3;
  cursor: pointer;
}

#rad {
  float: left;
  margin-left: 20px;
}



#colors {
  float: right;
}

#color-palette {
  display: inline-block;
  position: fixed;
  right: 40%;
}


.swatch {
  display: inline-block;
  background-color: cyan;
  float: right;
  // border: solid;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 3px 3px rgba(0,0,0,0.5);
  margin-left: 10px;
}

.swatch:hover {
  cursor: pointer;
}



.swatch.active {
  border: 1px solid blue;
  box-shadow: inset 0px 3px 3px rgba(0,0,0, 0.5);
}

#save, #login, #refresh, #review {
  float: right;
  height: 30px;
  padding: 8px;
  background-color: #434343;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

#see-all, #edit{
  display: inline-block;
  height: 30px;
  padding: 8px;
  background-color: blue;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

  #zoom, {
    a{
    display: inline-block;
    background-color: blue;
    border-radius: 5px;
    color: white;
    padding: 3px;
    cursor: pointer;
    }
  }


  #zoom:hover {
    a {
    background-color: #afa3a3;
    }
  }


#save:hover, #login:hover, #refresh:hover, #review:hover, #see-all:hover, #edit:hover {
  background-color: #afa3a3;
  cursor: pointer;
}

a {
  #logout {
            float: right;
            height: 30px;
            padding: 8px;
            margin-right: 10px;
            background-color: #f00;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            color: white;
          }

  #delete-picture {
            display: inline-block;
            height: 30px;
            padding: 8px;
            margin-right: 10px;
            background-color: #f00;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            color: white;
          }

  #logout:hover, #delete-picture:hover {
                  background-color: #800;
                  cursor: pointer;
                }


}



.picture-display {
  display: inline-block;
  float: left;
  margin: 10px;
  border: solid grey;
}
